@charset "utf-8";

/* #main */
#main{width: 100vw; height: 100vh; background: url("../images/index_outro/main_bg_flower_1920.jpg") no-repeat center top; background-size: cover;color: #f4f4f4;}
#main div.p_a{top: 300px; left: 300px; padding: 0 20px;}
#main p{font-size: 24px;}
#main img{display: block; width: 685px; height: 132px;}
#main .text1{margin: 0 0 10px 180px;}
#main .text2{color: #fff09f; margin-top: 20px;}
#main .text3{bottom: 50px; left: 300px;font-size: 16px;line-height: 24px;}

/* #intro */
#intro{width: 100vw; height: 1000px; background: url("../images/index_outro/intro_1920_bg.png") no-repeat left top; background-size: cover;}
#intro article{justify-content: space-evenly; padding: 150px 20px; text-align: center;}
#intro .frame{width: 450px;height: 700px; border-radius: 225px; background: url("../images/index_outro/intro_bg_resize.jpeg") no-repeat center; background-size: cover;}
#intro .intro_txt{width: 480px;font-size: 18px;}
#intro .intro_txt h3{margin-top: 150px; font-size: 48px;}
#intro .intro_txt p:first-of-type{margin-top: 150px;}
#intro .intro_txt p:last-of-type{margin-top: 80px;}

/* #introduction */
#introduction{background-color: #1e1e1e; color: #f4f4f4; width: 100%;}
#introduction h3{font-size: 24px; margin:100px 0 0 20px;}
#introduction .introduces{height: 1200vh;}
#introduction .sticky{position: -webkit-sticky; position: sticky; top: 0; width: 100%; height: 100vh; background-color: #2f4364;}
#introduction .text_wrap{position: relative; height: 100%; overflow: hidden;}
#introduction .text_wrap div{position: absolute; top: 0; left: 0; font-size: 120px; text-align: center; width: 100%; height: 100vh; line-height: 100vh; opacity: 0; transition: all 0.2s;}
#introduction .text_wrap div p{position: absolute; bottom: 10px; left: calc(50% - 275px); font-size: 120px; line-height: 120px;}
#introduction .text_wrap div img{position: absolute; top: calc(50% - 180px); left: calc(50% - 240px);}
#introduction .text_wrap .fest_bg, #introduction .text_wrap .lib_bg,#introduction .text_wrap .theh_bg{background: no-repeat center; background-size: 50%;}
#introduction .text_wrap .fest_bg{background-image: url("../images/mock-up/KGR_fest_iMac.png");}
#introduction .text_wrap .lib_bg{background-image: url("../images/mock-up/KGR_lib_iMac.png");}
#introduction .text_wrap .theh_bg{background-image: url("../images/mock-up/theh_iMac.png");}

#introduction .text_wrap div.on{opacity: 1;}
#introduction .tabgroup{display: flex; justify-content: center; margin: 150px 0 0;}
#introduction .tabgroup .tab{width: 320px;height: 50px; line-height: 50px; background: #2f4364; cursor: pointer; text-align: center;}
#introduction .tabbg{position: relative; width: 1280px; height: 600px; overflow: hidden; margin: 0 auto;}
#introduceTab .tabpanel{position: absolute; top: 0; left: 0; background: #a3b1ca; color: #2f4364;width: 1280px;height: 600px; margin: 0 auto; visibility: hidden;}
#introduceTab .tabpanel.active{visibility: visible;}
#introduceTab .tabpanel:not(#tabpanel1) div{display: block; padding: 50px; font-size: 20px;}
#introduceTab .tabpanel:not(#tabpanel1) div p{width: 1180px; height: 500px; overflow-y: scroll;background: #f4f4f4;}

#introduceTab .tabpanel .skill{display: flex; justify-content: space-around; margin: 0 auto; padding-top: 50px; flex-wrap: wrap;}
#introduceTab .tabpanel .skill .skill_bg{width: 600px;height: 70px; border-radius: 35px; background: #9b9b9b;}
#introduceTab .tabpanel .skill li .skill_gauge{width: 70px; height: 70px; border-radius: 35px; transition: width 1s;}
#introduceTab .tabpanel .skill li:nth-of-type(1) .skill_gauge.on{width: 580px; background: #e93e30;}
#introduceTab .tabpanel .skill li:nth-of-type(2) .skill_gauge.on{width: 550px; background: #35a8db;}
#introduceTab .tabpanel .skill li:nth-of-type(3) .skill_gauge.on{width: 480px; background: #ffda3e;}
#introduceTab .tabpanel .skill li:nth-of-type(4) .skill_gauge.on{width: 520px; background: #31a8ff;}
#introduceTab .tabpanel .skill li:nth-of-type(5) .skill_gauge.on{width: 420px; background: #fe9900;}
#introduceTab .tabpanel .skill li:nth-of-type(6) .skill_gauge.on{width: 480px; background: #fd60f3;}
#introduceTab .tabpanel .skill li p{font-size: 14px; padding: 25px;}
#introduceTab .tabpanel .skill .skill_btn{width: 70px; height: 70px;}
#introduceTab .tabpanel .skill .skill_btn img{display: block; width: 100%; height: 100%;}

#introduceTab .tab:hover, #introduceTab .tab:focus, #introduceTab .tab.active{background: #a3b1ca; color: #2f4364;}


#workShow .slick-wrapper{margin: 50px 0;}
#workShow .slick-wrapper .slick-slide img{width: 100%;padding: 50px;box-sizing: border-box;}
/* #workShow .slick-wrapper .slick-slide{width: 500px !important;}
#workShow .slick-wrapper div + div{margin-left: 20px;}
#workShow .slick-wrapper div img{display: block; width: 100%; height: 100%;} */
#workShow p{font-size: 24px; margin-left: 20px;}

/* #footer */
#footer{width: 100vw; height: 300px; background: #1e1e1e; color: #f4f4f4; text-align: center;}
#footer p:first-of-type{position: relative; padding-top: 150px;}
#footer p:first-of-type::before{content: ""; position: absolute; top: 100px; left: calc(50% - 665px); width: 1330px; height: 2px; background: #f4f4f4;}
#footer p:nth-of-type(2){padding-top: 40px;}